.newPass-sec .cover{
    background-image:url('../../assets/newPass.png');
    background-size:contain
}
@media(max-width:650px){
    .newPass-sec .cover{
        min-height: 350px;
        background-size: cover;

    }
    .newPass-sec .logo{
        margin-bottom: 40px;
    }
}